.home {
    min-height: 100vh;
    display: flex;
    color: white;
    &__category-buttons {
        background: #4F8BFF;
        max-width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        h2 {
            padding: 40px 0;
        }
        button {
            color: white;
            display: block;
            border: none;
            border-bottom: solid thin transparent;
            background: transparent;
            margin-bottom: 40px;
            padding: 10px;
            font-size: 20px;
            transition: 0.3s;
            &:hover {
                cursor: pointer;
                border-color:white;
            }
            &:focus {
                border-color:rgb(255, 255, 255);
                border-width: 5px;
                transition: 0.2s;
            }
        }
    }

    &__content {
        width: 100%;
        &__save-button {
            width: 100%;
            max-width: 500px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            background: green;
            border: none;
            border-radius: 5px;
            color: white;
            margin: 0 auto;
            margin-bottom: 50px;
            padding: 10px 25px;
            font-size: 20px;
            box-shadow: 0px 3px 10px 1px rgb(216, 216, 216); 
            transition: 0.3s;

            

            &:hover {
                cursor: pointer;
                background: rgb(0, 94, 0);
                transition: 0.2s;

            }
        }
        &__loader {
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
    }
}

